{% extends "layouts/base.html" %}

{% block title %} Log Viewer {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center bg-soft">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">Welcome admin!<br />Please specify a log to read.</h1>
                        </div>
                        <form action="logviewer.html" class="mt-4" method="post">
                            <!-- Form -->
                            <div class="form-group">
                                <label for="exampleInputIcon3">Log name</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span class="fas fa-user"></span></span>
                                    </div>
                                    <input class="form-control" id="exampleInputIcon3" placeholder="log.txt" type="text" name="logfile" aria-label="logfile" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">View log</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
