
<footer class="footer pt-7 pb-6 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>Nexxus</strong> cares about your privay. So please sign up for a bunch of social media sites, follow us, and tell us what you're doing every waking moment!</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/hthackers" aria-label="twitter social link" target="_blank" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCWW19yedhEkaf9Ngm85vsQw"
                            class="icon icon-xs icon-white" target="_blank" aria-label="youtube social link" data-toggle="tooltip"
                            data-placement="top" title="Subscribe to us on YouTube">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.gg/RpKgzSQaqG"
                            class="icon icon-xs icon-white" target="_blank" aria-label="discord social link" data-toggle="tooltip"
                            data-placement="top" title="Join us on Discord">
                            <span class="fab fa-discord"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/hthackers/"
                            class="icon icon-xs icon-white" target="_blank" aria-label="instagram social link" data-toggle="tooltip"
                            data-placement="top" title="Find us on Instagram">
                            <span class="fab fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Hthackers-643822332795724/"
                            class="icon icon-xs icon-white" target="_blank" aria-label="facebook social link" data-toggle="tooltip"
                            data-placement="top" title="Face us on Facebook!">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
